<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <% if current_user.github_token %>
    <p><%= button_to 'Send an Invite', invite_path, method: :get %></p>
  <% end %>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

  <% unless current_user.github_token %>
    <%= button_to 'Connect to GitHub', github_login_path %>
  <% end %>

  <section class='friendships'>
    <h1>Friends</h1>
    <% if current_user.friendships? %>
    <% current_user.friends.each do |friend| %>
      <p><%= friend.first_name + ' ' + friend.last_name %></p>
    <% end %>
    <% else %>
      <p>No friends currently</p>
    <% end %>
  </section>
  <% if current_user.github_token %>
    <section class='github'>
      <h2>GitHub</h2>
        <% facade.repos.each do |r| %>
          <ul class='repo'>
            <li class='name'><%= link_to r.name, "#{r.html_url}" %></li>
          </ul>
        <% end %>
        <h2>Followers</h2>
        <% facade.followers.each do |f| %>
          <ul class='followers'>
            <li class='user'><%= link_to f.login, "#{f.html_url}" %></li>
            <div id="github-following-<%= f.login %>">
              <% if !current_user.friends?(f) %>
                <%= button_to 'Add as Friend', add_friend_path(f.uid) %>
              <% else %>
                <p>Already friends or cannot friend at the moment.</p>
              <% end %>
            </div>
          </ul>
        <% end %>
        <h2>Following</h2>
        <% facade.following.each do |f| %>
          <ul class='following'>
            <li class='login'><%= link_to f.login, "#{f.html_url}" %></li>
            <div id="github-following-<%= f.login %>">
              <% if !current_user.friends?(f) %>
                <%= button_to 'Add as Friend', add_friend_path(f.uid) %>
              <% else %>
                <p>Already friends or cannot friend at the moment.</p>
              <% end %>
            </div>
          </ul>
        <% end  %>
    </section>
  <% end %>
  <section>
    <h1>Bookmarked Segments</h1>
    <% facade.bookmarked_tutorials.each do |tutorial| %>
      <% tutorial.videos.each do |video| %>
      <section class="bookmarks">
        <p class="title"><%= video.title %></p>
        <iframe src= <%="https://www.youtube.com/embed/#{video.id}" %>  width="450" height="300"></iframe>
      <% end %>
      </section>
  <% end %>
</section>
