<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <%= button_to 'Connect to Github', '/auth/github' %>
  <% if  current_user.github_token != nil %>
    <section class='github'>
      <h2>GitHub</h2>
        <% facade.repos.each do |r| %>
          <ul class='repo'>
            <li class='name'><%= link_to r.name, "#{r.html_url}" %></li>
          </ul>
        <% end %>
        <h2>Followers</h2>
        <% facade.followers.each do |f| %>
          <ul class='followers'>
            <li class='user'><%= link_to f.login, "#{f.html_url}" %></li>
          </ul>
        <% end %>
        <h2>Following</h2>
        <% facade.following.each do |f| %>
          <ul class='following'>
            <li class='login'><%= link_to f.login, "#{f.html_url}" %></li>
          </ul>
        <% end  %>
    </section>
  <% end %>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
</section>
